/* Navbar */
.navbar-nav a{
    margin-top: 4px;
    margin-right: 4px;
    font-family: Helvetica;
    font-size: 20px;
}

/* Buttons */
.buttons a:hover{
    color: #ffffff;
}

/* Home */
.card-img-overlay h5{
    font-family: Helvetica;
    color: black;
}

.card-img-overlay .card-text{
    font-size: 28px;
    font-family: Helvetica;
    color: black;
}